.container {
  ul {
    list-style: none;
    text-align: left;
    font-size: 20px;
    background: #795548;
    padding: 15px;
    li {
      padding: 15px 0;
      margin: 15px 0;
      text-align: left;
      font-size: 20px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
